@font-face{
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('OpenSans-Regular') 
       url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}