html,
body{
  width: 100%;
}

body{
  color: $default;
  font-size: 16px;
  line-height: 24px;
  @extend %Rubik-400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo{
  display: flex;
  height: 60px;
  &__link{
    display: flex;
    align-items: center;
  }
  &__img{
    max-height: 60px;
    align-items: center;
  }
}

.btn{
  position: relative;
  border: transparent;
  padding: 15px 30px;
  background-color: $accent;
  font-size: 20px;
  @extend %Rubik-700;
  color: $menu;
  border-radius: 30px;
  transition: all .3s;
  margin-top: 20px;
  &:hover{
    background-color: $menu;
    color: $accent;
  }
}