$default: #212529;
$accent: #ff0008;
$background: #ccc;
$menubg: rgba($default,0.9);
$menu: #fff;


%Rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%Rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}