.header{
  background-color: $menubg;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu{
    display: flex;
  }
  &__menu-item + .header__menu-item{
    margin-left: 25px;
  }
  &__menu-item{
    display: flex;
  }
  &__menu-link{
    color: rgba($menu,.6);
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    transition: all .3s;
    position: relative;
    span{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 8px;
      height: 3px;
      border: 1px solid rgba($menu,.8);
      background-color: rgba($menu,.8);
      border-radius: 0 0 100% 100%;
    }
    &:hover{
      color: $menu;
    }
  }
  &__cart-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__cart-inner{
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
  &__cart-box{
    display: flex;
  }
  &__cart-item{
    margin-top: 5px;
  }
  &__cart-link{
    position: relative;
    path{
      fill: rgba($menu,.6);
      transition: all .3s;
    }
    span{
      position: absolute;
      top: -20px;
      left: 15px;
      color: $default;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 700;
      border-radius: 50%;
      min-width: 20px;
      background-color: rgba($menu,.8);
      text-align: center;
      transition: all .3s;
    }
    &:hover{
      path{
        fill: $menu;
      }
      span{
        background-color: $menu;
      }
    }
  }
  &__cart-item + .header__cart-item{
    margin-left: 15px;
  }
  &__menu-btn{
    display: none;
    margin-left: 40px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    font-weight: 0;
    position: relative;
    background-color: transparent;
    border: 1px solid rgba($menu,.3);
    border-radius: 8px;
    width: 60px;
    height: 40px;
    padding: 0px !important;
    transition: all .3s;
    span{
      content: '';
      width: 25px;
      height: 2px;
      background-color: rgba($menu,.3);
      margin: auto auto;
      transition: all .3s;
      &:before,
      &:after{
        content: '';
        width: 25px;
        height: 2px;
        background-color: rgba($menu,.3);
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        transition: all .3s;
      }
      &:before{
        top: 12px;
      }
      &:after{
        bottom: 12px;
      }
    }
    &:hover{
      border: 1px solid rgba($menu,1);
      span{
        background-color: rgba($menu,1);
        &:before,
        &:after{
          background-color: rgba($menu,1);
        }
      }
    }
  }
}

