<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"Элемент - студия декоративных покрытий и красок для интерьера и фасада"</title>
  <link rel="stylesheet" href="css/stock.min.css">
  <link rel="icon" href="favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="favicon.png">
</head>
<body>
  
{% include 'app/module/_header/_header.html' %}

  <main>

    {% include 'app/module/_stock/_stock.html' %}

  </main>

{% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>
</html>








