.company{
  padding-top: 70px;
  height: 100vh;
  min-height: 100%;
  background-image: url('../images/company-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  &__wrapper{
    background-color: rgba($background, 0.6);
    height: 100%;
  }
  &__title{
    font-size: 36px;
    @extend %Rubik-700;
    padding-top: 100px;
  }
  &__text{
    font-size: 18px;
    @extend %Rubik-400;
    margin-top: 50px;
  }
}